### Sets

sets are a build-in data type in python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order and they do not allow duplicate elements.

In [1]:
## Create a set

my_set = {1,2,3,4,4,5}
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4, 5}

In [2]:
my_empty_set = set()
print(my_empty_set)

set()

In [4]:
my_set = set([1,2,3,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [5]:
## Basic sets operations

## Adding and removing elements

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

In [6]:
my_set.add(6,7)
print(my_set)

TypeError: set.add() takes exactly one argument (2 given)

In [7]:
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 7}

In [8]:
my_set.remove(8)
print(my_set)

KeyError: 8

In [9]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 7}

In [11]:
## Pop method

removed_element = my_set.pop()

print(removed_element)
print(my_set)

2
{4, 5, 7}

In [12]:
## Clear all the elements

my_set.clear()
print(my_set)

set()

In [13]:
## Set memebership test

my_set = {1,2,3,4,5,6}

print(3 in my_set)
print(10 in my_set)

True
False

In [14]:
## Mathematical operations

set1 = {1,2,3,4,5}
set2 = {2,3,4,6}

# Union

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [15]:
# Intersection

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3, 4}

In [16]:
set1.intersection_update(set2)
print(set1)

{2, 3, 4}

In [17]:
set1 = {1,2,3,4,6,7}
set2 = {2,5,8,9,0}

# Difference

print(set1.difference(set2))

{1, 3, 4, 6, 7}

In [18]:
set2.difference(set1)

{0, 5, 8, 9}

In [19]:
## Symmetric difference

set1.symmetric_difference(set2)

{0, 1, 3, 4, 5, 6, 7, 8, 9}

In [21]:
## Set methods 

set1 = {1,2,3,4,5,6}
set2 = {3,4,6}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [22]:
lst = [1,2,3,4,5,6]

set(lst)

{1, 2, 3, 4, 5, 6}

In [23]:
## Counting unique words in text

text = "In this tutorial we are discussing about sets."

words = text.split()

## Convert list of words to set to get unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'discussing', 'about', 'In', 'sets.', 'this', 'are', 'tutorial', 'we'}
8