In [1]:
range(5)

range(0, 5)

In [2]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
for x in range(1,20,2):
    print(x)

1
3
5
7
9
11
13
15
17
19

In [6]:
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [7]:
str = "Nayem Nobita"

for x in str:
    print(x)

N
a
y
e
m

N
o
b
i
t
a

In [8]:
## While Loop

# The while loop continues to execute as long as the condition is true.

count = 0

while count<5:
    print(count)
    count = count+1

0
1
2
3
4

In [9]:
count = 2

while count<= 20:
    print(count)
    count = count+2

2
4
6
8
10
12
14
16
18
20

In [10]:
count = 0

while count%2 == 0:
    print(count)
    count = count+1

0

In [11]:
## loop control statement

## break

# The break statement exits the loop parmaturely

for i in range(10):
    if i==6:
        break
    print(i)

0
1
2
3
4
5

In [12]:
## continue

## The continue statement skips the current iteration and continues with the next

for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [15]:
## pass

## The pass statement is a null operation. It does nothing

for i in range(5):
    if i==3:
        print("The number is: ", i)
        pass
    print(i)

0
1
2
The number is:  3
3
4

In [16]:
##Nested loop

## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [17]:
n = 10
sum = 0

count = 1

while count<=n:
    sum = sum+count
    count = count+1

print("Sum of the 10 natural number : ",sum)

Sum of the 10 natural number :  55

In [20]:
sum = 0

for i in range(11):
    sum = sum+i

print(sum)

55

In [23]:
## Example - Prime Numbers between 1 and 100.

for num in range(1,101):
    if num>1:
        for i in range(2, num):
            if num%i==0:
                break
        else: 
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97