# SQL And SQLite

SQL (Structure Query Language) is a standard language for meaning and manipulating relational database. SQLite is a self-contained, serverless and zero configuration database engine that is widely used for embedded database system. In this lesson, we will cover the basics of SQL and SQLite, including creating databases,tables and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
# Connect to an SQLite databse

connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
# Create a table

cursor.execute('''
Create table If Not Exists employee(

    id Integer Primary Key,
    name Text Not NUll,
    age Integer,
    department Text

)

''')

# Commit the changes
connection.commit()

In [6]:
# Insert data in SQLite3
cursor.execute('''
Insert Into Employee(name,age,department)
    values('Nayem',25,'CSE')
''')

cursor.execute('''
Insert Into Employee(name,age,department)
    values('Nobita',25,'CSE')

''')

cursor.execute('''
Insert Into Employee(name,age,department)
    values('Doraemon',20,'Robotics')

''')

connection.commit()

In [8]:
# Querying the data from the table
cursor.execute('Select * from employee')
rows = cursor.fetchall()

# Print the query data
for row in rows:
    print(row)

(1, 'Nayem', 25, 'CSE')
(2, 'Nobita', 25, 'CSE')
(3, 'Doraemon', 20, 'Robotics')
(4, 'Nayem', 25, 'CSE')
(5, 'Nobita', 25, 'CSE')
(6, 'Doraemon', 20, 'Robotics')

In [9]:
# Update the data in the table
cursor.execute('''
    UPDATE employee
    Set age = 34
    where name = "Doraemon"

''')

connection.commit()

In [14]:
# Delete data from the table
cursor.execute('''
    Delete from employee
    where id = 5
''')

connection.commit()

## Working with sales data

In [17]:
# Connection to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data

cursor.execute('''
CREATE Table If Not Exists sales (
    id Integer Primary Key,
    data Text Not Null,
    product Text Not Null,
    sales Integer,
    region Text
)

''')

# Insert data into the sales table
sales_data = [
    ('2025-12-01', 'Product1', 100, 'North'),
    ('2025-12-02', 'Product2', 150, 'East'),
    ('2025-12-03', 'Product1', 300, 'South'),
    ('2025-12-04', 'Product2', 100, 'North'),
    ('2025-12-05', 'Product3', 500, 'West')
]

cursor.executemany('''
Insert into sales(data,product,sales,region)
    values(?,?,?,?)
''',sales_data)

connection.commit()

In [ ]:
# Close the connection

connection.close()